@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,700,900&display=swap');

:root {
    --font-title: 'Pacifico', cursive;
    --font: 'Raleway', sans-serif;
    --grey: #262626;
    --red: #ff6833;
    --blue: #00c4c4;
    --light-grey: #b9b9b9;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    font-family: var(--font);
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    background: #f9f8fb url(../IMAGES/header-bg.jpg) no-repeat center;
    height: 100vh;
    position: relative;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo {
    font: 50px var(--font-title);
    color: var(--grey);
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu__item {
    margin: 0 20px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    color: var(--grey);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
}

.menu__link::before {
    content: '';
    width: 0;
    height: 3px;
    background: var(--red);
    position: absolute;
    left: 50%;
    top: -60px;
    transition: .3s;
}

.menu__link:hover::before, 
.menu__link--active::before {
    width: calc(100% + 6px);
    top: -10px;
    left: -3px;
}

.info-box {
    color: var(--grey);
    margin-top: 20vh;
}

.info-box__title {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 20px;
}

.info-box__desc {
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 28px;
}

.button {
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    background: var(--red);
    padding: 18px 25px;
    color: #fff;
    display: inline-block;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: .3s;
}
.button:hover {
    background: var(--blue);
}

.scroll-down {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    animation: scroll 2s ease-in-out infinite;
}

.scroll-down svg {
    width: 24px;
    height: 40px;
    transition: .3s;
}

.scroll-down:hover svg {
    fill: var(--blue);
}

@keyframes scroll {
    0% {
        bottom: 6%;
    }

    50% {
        bottom: 4%;
    }

    100% {
        bottom: 6%;
    }
}

/* About */

.about {
    color: #fff;
    background-color: #00c4c4;
    background: radial-gradient(ellipse at center,  #00c4c4 0%,#00b7b7 32%,#00adad 68%,#009c9c 100%);
}

.about__row {
    background: url('../IMAGES/about-bg.png') no-repeat 0% 50%;
    min-height: 600px;
    max-height: 800px;
    height: 100vh;
    align-items: center;
}

.about__title {
    font-weight: 700;
    font-size: 90px;
    margin-bottom: 30px;
}

.about__text {
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 15px;
}

.footer {
    background: var(--grey);
    color: var(--light-grey);
    height: 90px;
    display: flex;
    align-items: center;
}

.footer__row {
    justify-content: space-between;
    align-items: center;
}

.logo--footer {
    color: var(--light-grey);
    font-size: 25px;
}

.text-red {
    color: #ff2b58;
}

.text-bold {
    font-weight: 700;
}

/* Services */

.services {
    background-color: #70bfff;
}

.services__row {
    background: url('../IMAGES/services-bg.png') no-repeat 97% 50%;
    min-height: 690px;
    max-height: 890px;
    height: 100vh;
    align-items: center;
}

.services__title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 89px;
    color: #fff;
}

.services__list li {
    width: 400px;
    height: 100px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    font-size: 20px;
    font-weight: bold;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services__list li::after {
    content: '';
    height: 100px;
    width: 100px;
    border-left: 1px solid #9d9d9d80;
    position: absolute;
    right: 0;
}

.services__list li:hover {
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
    transition: .2s;
}

.basket, .earth, .hand, .carrot {
    position: absolute;
}

.basket {
    right: 29px;
    width: 44px;
}

.earth {
    right: 21px;
    width: 54px;
}

.hand {
    right: 23px;
    width: 49px;
}

.carrot {
    right: 21px;
    width: 55px;
}

/* Gallery */

.gallery {
    padding-bottom: 90px;
    padding-top: 100px;
    background-color: #ffe92f;
}

.gallery__row {
    height: 100%;
}

.gallery__text-part {
    text-align: center;
}

.gallery__title {
    font-size: 90px;
    font-weight: bold;
    color: var(--grey);
    margin-bottom: 28px;
}

.gallery__text {
    font-size: 17px;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 46px;
}

.gallery__picture {
    display: flex;
    width: 100%;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.gallery__button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.gallery__button>.button {
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    background: #5585a2;
    padding: 18px 43px;
    color: #fff;
    display: inline-block;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: .3s;
}

.gallery__button>.button:hover {
    background: var(--red);
}

/* Subscribe */

.subscribe {
    padding-top: 150px;
    height: 70vh;
    background: url(/28_03_20_cw/IMAGES/subscribe-bg.jpg) 50% 50% no-repeat;
}

.subscribe__main-container {
    justify-content: left;
    flex-direction: column;
}

.subscribe__title {
    font-weight: bold;
    font-size: 40px;
    color: var(--grey);
    margin-bottom: 30px;
}

.subscribe__text {
    font-weight: 300;
    font-size: 17px;
    width: 50%;
    margin-bottom: 30px;
}

.subscribe__email {
    margin-right: 30px;
    padding-left: 15px;
    height: 55px;
    border: solid 1px #262626;
    width: 570px;
    font-weight: 300;
    font-size: 15px;
}

.subscribe__email::placeholder {
    opacity: 0.5;
}

.subscribe__button {
    color: #fff;
    padding: 20px 30px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
    background-color: #96b92c;
}

.subscribe__button:hover {
    background-color: var(--red);
    transition: .3s;
}



/* Blog */

.blog {
    background-color: #b07cf7;
    height: 100vh;
}

.blog__main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.blog__text {
    text-align: center;
}

.blog__articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.blog__article--smooth {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.90)), url(/28_03_20_cw/IMAGES/blog/1.jpg) 50% 50% no-repeat;
}

.blog__article--soup {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.90)), url(/28_03_20_cw/IMAGES/blog/2.jpg) 50% 50% no-repeat;
}

.blog__article--berr {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.90)), url(/28_03_20_cw/IMAGES/blog/3.jpg) 50% 50% no-repeat;
}

.blog__article {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 22px;
    color: white;
    margin: auto auto 26px;
    cursor: pointer;
}

.date {
    background-color: rgba(38, 38, 38, 0.5);
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spacer {
    flex-grow: 1;
}


.date>p {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
}

.blog__article>h2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
}

.blog__article>p {
    font-size: 10px;
}

.blog__text {
    color: white;
    margin-bottom: 46px;
    max-width: 58%;
}

.blog__text>h1 {
    margin: 0 auto;
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 34px;
}

.number {
font-size: 146%;
}

.blog__button {
   margin-top: 40px;
   margin-bottom: 50px;
   transition: .3s;
}

.blog__button>.answer-group {
    text-align: center;
    display: block;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

.answer-group>label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f72b3b;
    width: 190px;
    height: 50px;   
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.answer-group>input {
    display: none;
}

.answer-group>label:hover {
    background-color: var(--blue);
    transition: .3s;
}

/* Contact */

.contact {
    padding-top: 100px;
    height: 100vh;
    background: url(/28_03_20_cw/IMAGES/contact-bg.jpg) 50% 50% no-repeat;
}

.contact__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 46px;
}

.contact__title {
    font-size: 80px;
    font-weight: bold;
    color: #262626;
    margin: 0 auto 40px;
}

.contact__header p {
    font-weight: 300;
    color: #262626;
    font-size: 16px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__block {
    display: flex;
    flex-direction: row;
}

.contact__info {
    color: #262626;
}

.contact__info .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
}

.contact__info a {
    text-decoration: none;
    color: #262626;
    font-size: 18px;
}

.contact__info li {
    margin-bottom: 16px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact input, textarea {
    width: 460px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    background-color: #00c4c4;
    opacity: 0.5;
    padding-left: 20px;
    color: #ffffff;
    font-weight: 300;
}

.contact input {
    height: 46px;
    margin-bottom: 15px;
}

.contact textarea {
    height: 200px;
    padding-top: 16px;
    resize: none;
}

.contact ::placeholder {
    color: #ffffff;
    font-weight: 300;
}

.contact input:focus {
    outline: 0;
    opacity: 1;
    border-left: 5px solid #355b82;
    outline-color: transparent;
    outline-style: none;
    padding-left: 15px;
}

.contact textarea:focus {
    opacity: 1;
    border-left: 5px solid #355b82;
    padding-left: 15px;
    outline-color: transparent;
    outline-style: none;
    outline: 0;
}